@font-face {
    font-family: vazir;
    src: url("../font/Vazir-Medium.woff2");
}

:root {
    --Primary-Light : #5DA0FB;
    --Primary-Main : #3E8DF7;
    --Primary-dark: #1C79F6;
    --Secondary-Light: #F5CD70;
    --Secondary-main: #F5BE41;
    --Secondary-dark: #F8B214;
    --Neutral-White : #ffff;
    --Neutral-25: #F9F9F9;
    --Neutral-50: #EAEAEA;
    --Neutral-100: #BDBDBF;
    --Neutral-200: #9D9D9F;
    --Neutral-300: #707174;
    --Neutral-400: #555559;
    --Neutral-500: #2A2B2F;
    --Neutral-black: #000000;
    --H1-desktop: 4rem;
    --H2-desktop: 2.8rem;
    --H3-desktop: 2rem;
    --H1-mobile: 3.2rem;
    --H2-mobile: 2.4rem;
    --H3-mobile: 1.8rem;
    --body-mobile:1.4rem;
    --botton-mobile:1.4rem;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Vazir;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
